// -----------------------------------------------------------------------------
// This file contains all styles related to the input text component.
// -----------------------------------------------------------------------------

/* Input Text Component */

.input-text {
  font-size: 12px;
  background-clip: padding-box;
  padding: 0 18px;
  height: 40px;// default height

  &--border-radius {
    border-radius: 25px;
  }

  &--primary-style {
    color: $g-brand-secondary-color;
    transition: all 0.6s linear;
    border: 2px solid transparent;
    background-color: #f1f1f1;
    &:focus {
      background-color: transparent;
      border-color: $g-brand-color;
    }
  }




  &--style-1 {
    color: #5c636c;
    transition: all 0.6s linear;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    &:focus {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      background-color: transparent;
      border-color: #eee;
    }
  }



  &--style-2 {
    color: #5c636c;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    transition: all 0.6s linear;
    &:focus {
      background-color: $g-white;
    }
  }

  &--only-white {
    border: 1px solid transparent;
    color: $g-brand-secondary-color;
    background-color: $g-white;
  }


  &:focus {
    outline: 0;
  }
}


.input-text:disabled {
  background-color: #cecece;// All .input-text--primary-style will override with this
}

// IE10+
input::-ms-clear {
  display: none;
}