// -----------------------------------------------------------------------------
// This file contains all styles related to the select-box component.
// -----------------------------------------------------------------------------

/* Select-Box Component */

.select-box {
  display: block;
  max-width: 100%;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 12px 11px 15px;
  cursor: pointer;
  line-height: 1.2;

  &--primary-style {
    color: $g-brand-secondary-color;
 //   transition: all 0.6s linear;
    border: 2px solid transparent;
    background-color: #f1f1f1;
    &:focus {
   //   background-color: $g-white;
   //   border-color: $g-brand-color;
    }
  }


  // Platinum outline
  &--transparent-b-2 {
    color: $g-brand-secondary-color;
    border: 1px solid transparent;
    background-color:transparent;
  }





  &:focus {
    outline: 0;
  }
  // IE10+
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }
}

.select-box:disabled {
  background-color: #cecece;
}


.select-box--primary-style {
  &:focus::-ms-value {
    color: $g-brand-secondary-color;
    background-color: #f1f1f1;
  }
}


.select-box--transparent-b-2 {
  &:focus::-ms-value {
    color: $g-brand-secondary-color;
    background-color: $g-white;
  }
}