// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------
/*--------------------------------------------------------------
#{$i}
--------------------------------------------------------------*/


.about {
  background-color: $g-white;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.07);
  &__container {
    padding: 60px;
  }

  &__info {
    text-align: center;
  }

  &__h2 {
    color: $g-brand-secondary-color;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
  }



  .about__p-wrap {
    position: relative;
    margin-bottom: 20px;
    &:before ,&:after {
      content: '';
      display: block;
      width: 70px;
    //  height: 16px;
      position: absolute;
      border: solid $g-brand-color;
    }

    &:before {
      top: -10px;
      left: -8px;
      border-top-width: 1px;
    }

    &:after {
      bottom: -10px;
      right: -8px;
      border-bottom-width: 1px;
      // border-bottom-width: 1px;// bottom
    }
  }


  &__p {
    color: $g-brand-secondary-color;
  }


  &__link {
    display: inline-block;
    padding: 12px 42px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 12px;
  }
}



.team-member {
  background-color: #fbfbfb;
  transition: transform 0.7s ease-in-out;


  &__wrap {
    position: relative;
  }




  &__social-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transform: translateY(-50%) scale(0.8);
    transition: all 0.2s ease 0s;

  }


  &__social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    // by default all children would be inline because of flex
    > li {
      margin: 0 4px 6px;
      opacity: 0;// shrink
      transform: translateY(50%);
      transition: all 0.3s ease 0.1s;
      > a {
        display: block;
        width: 35px;
        text-align: center;
        border-radius: 50%;
        height: 35px;
        line-height: 35px;
        background-color: $g-white;
        color: $g-brand-color;
        font-size: 12px;
        transition: all 0.3s ease 0s;
        &:hover {
          color: $g-white;
        }
      }
    }
  }

  &__info {
  //  margin-top: 14px;
    padding: 16px;
  }



  &__name {
    display: block;
      font-size: 14px;
      font-weight: 600;
      color: $g-brand-secondary-color;
  }

  &__job-title {
    display: block;
      font-size: 11px;
      color: #a0a0a0;
  }
}

.team-member:hover {
  transform: translateY(-8px);



  .team-member__social-wrap {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  .team-member__social-list {
    > li {
      opacity: 1;
      transform: translateY(0);
    }
  }

}








.testimonial {
 // box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
 // background-color: $g-white;
 text-align: center;
  &__img-wrap {
    margin-bottom: 16px;
  }

  &__double-quote {
      display: block;
      i {
        font-size: 28px;
        color: $g-brand-secondary-color;
      }
    }



  &__block-quote {
    margin: 0 auto;
    width: 70%;
    padding: 10px 20px;
    p {
      font-size: 14px;
      font-weight: 600;
      color: $g-brand-secondary-color;
    }
  }


  &__author {
    display: block;
    font-size: 13px;
    color: #a0a0a0;
  }
}

.testimonial {
  .testimonial__img-wrap {
    .testimonial__img {
        display: inline-block;
        width: 165px;
        height: 165px;
        border-radius: 50%;
    }
  }
}
