// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------
/*--------------------------------------------------------------
#{$j}
--------------------------------------------------------------*/

.g-map {
  background-color: #eee;
}

#map {
  height: 450px;
  width: 100%;
}


.contact-o {
  background-color: $g-white;
  padding: 23px;
  transition: transform .3s cubic-bezier(.68,-.55,.265,1.55);
  border: 2px solid #f5f5f5;
  box-shadow: 0 6px 15px 0 rgba(36,37,38,.08);

  &:hover {
    transform: translateY(-6px);
  }

  &__wrap {
    text-align: center;
  }

  &__icon {
    margin-bottom: 10px;
    > i {
      color: $g-brand-color;
      font-size: 48px;
    }
  }



  &__info-text-1 {
    display: block;
    font-size: 17px;
    margin-bottom: 4px;
    color: $g-brand-secondary-color;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__info-text-2 {
    font-size: 12px;
    margin-bottom: 2px;
    display: block;
    color: $g-text-color;
  }

}


.contact-area {
  &__heading {
    margin-bottom: 30px;
    h2 {
      display: inline-block;
      font-size: 26px;
      font-weight: 700;
      color: $g-brand-secondary-color;
      background-color: $g-white;
    }
  }
}


.contact-f {
  width: 100%;

  .input-text,.text-area {
      border-radius: 6px;
      width: 100%;
    }


  .text-area {
    height: 185px;
  }

  .btn {
    padding: 19px 21px;
    border-radius: 25px;
  }



}

