// -----------------------------------------------------------------------------
// This file contains styles that are specific to the index page.
// -----------------------------------------------------------------------------
/*--------------------------------------------------------------
#{$h}
--------------------------------------------------------------*/

.fixed-list {
  position: fixed;
  top:50%;
  right: 10px;
  z-index: 99;
  transform: translateY(-50%);
    > ul {
      display: block;
      margin: 0;
      padding: 0;
      background-color: $g-white;
      border-radius: rem(25);
      > li {
        > a {
          color: $g-brand-secondary-color;
          text-align: center;
          font-size: 14px;
          padding: 14px;
          &.active {
            background-color: $g-brand-color;
            color: $g-white;
          }
        }

        &:first-child {
          > a {
            border-top-left-radius: rem(25);
            border-top-right-radius: rem(25);
          }
        }

        &:last-child {
          > a {
            border-bottom-left-radius: rem(25);
            border-bottom-right-radius: rem(25);
          }
        }
      }
    }
}


// Index 2
.bg-anti-flash-white {
  background-color: #f3f3f3;
}


.white-container {
  width: 1220px;
  background-color:$g-white;
  max-width: 100%;
  margin:0 auto;
}


.section__intro {
  position: relative;
}

.block {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  &__title {
    color: $g-brand-secondary-color;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }

}


.category-o {
  position: relative;
  border: 2px dashed #f5f5f5;
  border-radius: 50%;// circle
  overflow: hidden;// for image zoom
  // div image wrapper
  &__img-wrap {
    border-radius: 50%;
  }

  &__img {
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.6s linear;
  }



  &__info {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    bottom: 40px;
  }


  &__shop-now {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.07);
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
  }


  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
  }
}
.category-o:hover  {
  &:before {
    opacity: 1;
  }

  .category-o__img {
    transform: scale(1.1);
  }
}






// By default it has flex and multi-line wrap property
.tab-list {
  margin: 0;
  padding: 0;
  > li {
    margin-right: 8px;
    margin-bottom: 12px;
    > a {
      border-radius: 20px;
      font-weight: 600;
      font-size: 13px;
      padding: 10px 16px;// for override bootstrap
      color: $g-brand-secondary-color;
      &.active {
        border-color: $g-brand-color;
        background-color: $g-brand-color;
        color: $g-white;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


// Promo original
.promotion-o {
  position: relative;
  display: block;
  transition: transform .3s cubic-bezier(.68,-.55,.265,1.55);

  &__content {
    position: absolute;
    width: 100%;
    z-index: 2;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
  }

  &__link {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.07);
    font-size: 13px;
    padding: 10px 25px;
    font-weight: 600;
    transition: all .3s linear;
    display: inline-block;
  }




}

.promotion-o:hover {
  transform: translateY(-6px);
}


// I3 Banner <a>

.i3-banner {
  position: relative;
  display: block;
  overflow: hidden;
  cursor:pointer;
  &:before {
    transition: all 0.6s linear;
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .4);
  }

  &__img {
    transform: scale(1);
    transition: all 0.6s ease-in-out;
  }
}

.i3-banner:hover {
  &:before {
    opacity: 1;
  }

  .i3-banner__img {
    transform: scale(1.1);
  }

}

.aspect--1048-334 {
  padding-bottom: nonsquare(1048, 334);
}





// Section
.section {
  &__text-wrap {
    text-align: center;
  }
  &__content {
    position: relative;
  }

  &__heading {
    font-weight: 600;
    letter-spacing: -.02rem;
    font-size: 28px;
    position: relative;
  }

  &__span {
    //font-weight: 600;
    font-size: 13px;
    display: block;
  }
}








  // Shop Collection
.collection {
  position: relative;
  display: block;
  overflow: hidden;
  cursor:pointer;
  &:before {
    transition: all 0.6s linear;
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .4);
  }

  &__img {
    transform: scale(1);
    transition: all 0.6s ease-in-out;
  }
}

  .collection:hover {
    &:before {
      opacity: 1;
    }

    .collection__img {
      transform: scale(1.1);
    }

  }

  .aspect--1286-890 {
    padding-bottom: nonsquare(1286, 890);
  }
  // End

  // Filter

  // isotope filter item container
  .filter-category-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter__btn--style-1 {
    position: relative;
    transition: all 0.3s ease 0s;
    display: block;
    border: none;
    padding: 18px;
    font-size: 14px;
    color: $g-brand-secondary-color;
    font-weight: 600;
    background-color: transparent;

    // Normal
    &:before {
      content: '';
      width: 0;
      height: 2px;
      background-color: $g-brand-color;
      position: absolute;
      top: 0; // top
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s ease 0s;
    }

    &:hover {
      color: $g-brand-color;

      &:before {
        width: 100%;
      }
    }

    &.js-checked {
      color: $g-brand-color;

      &:before {
        width: 100%;
      }
    }
  }

.filter__btn--style-2 {
    transition: all 0.3s ease 0s;
    display: block;
    padding: 15px 27px;
    margin: 0 8px 10px;
    border:2px solid #f7f7f9;
    font-size: 12px;
    color: $g-text-color;
    background-color: transparent;

    &:hover {
      border-color: $g-brand-color;
      color: $g-brand-secondary-color;
    }

    &.js-checked {
      border-color: $g-brand-color;
      color: $g-brand-secondary-color;
    }
  }




.load-more {
    text-align: center;
    padding: 40px 0;
    > button {
      padding: 22px 56px;
      border: none;
      border-radius: 5px;
      font-size: 13px;
    }
  }

  // Top Sale in Week
  .banner-bg {
    padding: 7em 0;
    position: relative;
   background: #f5f5f5 url("../images/banners/banner-bg.jpg") repeat fixed center center;
    //background: #f5f5f5 url("https://source.unsplash.com/random") no-repeat fixed center center;
   background-size: cover;

    &__wrap {
      text-align: center;
    }

    &__text-block {
      display: block;
    }

    // div span
    &__text-1 {
      font-weight: 600;
      margin-bottom: 6px;
      font-size: 58px;
    }
    // div span
    &__text-2 {
      font-weight: 600;
      margin-bottom: 12px;
      font-size: 31px;
    }

    // span
    &__text-3 {
      margin-bottom: 18px;
      font-size: 14px;
    }

    &__shop-now {
      display: inline-block;
      padding: 14px 30px;
      font-weight: 600;
      border-radius: 40px;
      font-size: 13px;
    }
  }

  .promotion {
    display: block;
    position: relative;
    &:before {
      transition: all 0.3s linear;
      content: '';
      position: absolute;
      z-index: 1;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
    }

    &__content {
      position: absolute;
      width: 100%;
      z-index: 2;
      transform: translateY(-50%);
      top: 50%;
      text-align: center;
    }

    &__text-wrap {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px 15px;
      transition: all 0.5s ease-in-out;
    }

    &__text-1 {
      font-size: 14px;
    }

    &__text-2 {
      font-size: 20px;
      font-weight: 600;
    }

  }

  .promotion:hover {

    &:before {
      opacity: 1;
    }

    .promotion__text-wrap {
      background-color: rgba(255, 255, 255, 1);
      //  padding: 40px 25px;
    }
  }

  // Column Product
  .column-product {
    //border: 1px solid green;

    &__title {
      display: block;
      font-size: 18px;
      font-weight: 600;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      // border: 1px solid red;
      margin-bottom: 30px;
    }

    &__item:last-child {
      margin-bottom: 0;
    }

  }

  // Service
  .service {
    display: flex;
    background-color: $g-white;
    padding: 23px;
    box-shadow: 0 6px 15px 0 rgba(36,37,38,.08);
    border: 2px solid #f5f5f5;


    &__icon,&__info-wrap {
      -ms-flex: 0 1 auto;// IE10+ fix
    }

    &__icon {
      margin-right: 20px;
      > i {
        color: $g-brand-color;
        font-size: 30px;
      }
    }

    &__info-wrap {
     // flex: 1;
    }

    &__info-text-1 {
      display: block;
      font-size: 14px;
      margin-bottom: 4px;
      color: $g-brand-secondary-color;
      font-weight: 600;
    }

    &__info-text-2 {
      font-size: 13px;
      display: block;
      color: $g-text-color;
    }

  }

  // Brand Slider
  .new-brand-slider {
    position: relative;
  }

  #brand-slider {
    position: static;
  }


@media (max-width: 991px) {
  .block {
    display: block;// All flex properties will not work
  }

  .success {
    &__img-wrap,&__info-wrap {
      display: none;
    }
  }


}

















