// -----------------------------------------------------------------------------
// This file contains styles that are specific to the sign-in-up page.
// -----------------------------------------------------------------------------
/*--------------------------------------------------------------
#{$n}
--------------------------------------------------------------*/



// Sign-up
.l-f-o {
  border: 1px solid #eee;

  &__pad-box {
    padding: 20px;
  }

  // Apply to these components
  &__form {
    width: 100%;
  }

  .input-text,.btn,.select-box {
    border-radius: 6px;
  }

  .input-text {
    width: 100%;
  }

  .btn {
    font-weight: 600;
    padding: 12px 18px;// Noted
  }

  &__create-link {
    font-size: 13px;
    text-align: center;
    padding: 12px;
    display: block;
    font-weight: 600;
    border-radius: 6px;
  }





}