// -----------------------------------------------------------------------------
// This file contains all CSS utility classes that are specific only for layout
// design.
// -----------------------------------------------------------------------------
/*--------------------------------------------------------------
#{$d}
--------------------------------------------------------------*/
/**
 * Utility classes for colors:
 * Convey meaning through color with a handful of color utility classes.
 * Includes support for styling links too.
 */
.u-c-brand {
  color:$g-brand-color !important;// Remove any specificity color level
}

.u-c-secondary {
  color:$g-brand-secondary-color !important;
}

.u-c-white {
  color:$g-white !important;
}

.u-c-black {
  color:$g-black !important;
}

.u-c-grey {
  color:$g-text-color !important;
}

.u-c-silver {
  color:#a0a0a0 !important;
}

/*
  * Display Utility
 */
.u-d-block {
  display: block;
}

/*
  * Sizing
  * Easily make an element as wide or as tall (relative to its parent) with our width and height utilities.
 */
.u-w-100 {
  width: 100%;
}

.u-h-100 {
  height: 100%;
}



/**
  * Image Responsive utility classes
 */
.u-img-fluid {
    width: 100%;// IE 10
    max-width: 100%;
    height: auto;
}